#formulario{
    @include centralizar-conteudo;
}

#menu-links{
    display: flex;
    @include centralizar-conteudo;
    list-style: none;
}

#menu-links a {
    text-decoration: none; 
    color: #007bff; 
    font-weight: bold; 
    padding: 10px 15px;
     transition: background 0.3s
}

#servicos ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 0;
    list-style: none;
}

form {
    display: flex;
    flex-direction: column; /* Coluna para o formulário */
}

form label {
    margin: 10px 0 5px; /* Margem para os rótulos */
}

form input, form textarea {
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda suave */
    border-radius: 5px; /* Bordas arredondadas */
}

#btn-enviar {
    background: #007BFF; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background 0.3s; /* Transição suave */
}